
.navbar {
	margin: 10;
	background-color: #ffffff
}

.navbar-nav :hover {
	background-color: #ffffff;
	color: rgb(138, 137, 137);

  }

.navbar-nav li {
	padding: 14px 16px;
  }

.App {
	margin-left: 1%;
	margin-right: 1%;
	text-align: start;
	background-color: #ffffff;
	align-items: center;
	min-height: 100vh;
	justify-content: center;
  }

.profile {
	margin-top: 5%;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	width: max-content;
	text-align: start;
	margin-left: 15px;
}

.profileName {
	font-family: Arial, Helvetica, sans-serif;
	padding-bottom: 20px;
}

.button-23 {
  align-self: center;
  background-color: #fff;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #41403e;
  cursor: pointer;
  display: inline-block;
  font-family: Neucha, sans-serif;
  font-size: 1rem;
  line-height: 23px;
  padding: .75rem;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  touch-action: manipulation;
}

.button-23:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.button-23:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}
.container-21 {
	align-items: center;
	background: #ffffff;
	width: auto;
	padding-block: 30px;
}

.header-1 {
	background-color: #ffffff;
	text-align: center;
	text-decoration: underline;
	padding-bottom: 1%;
	font-size: 30px;
	font-weight: 600;
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


